In [60]:
import pandas as pd
import math

def extract_date_features(date_entry):
    """
    Extracts year, month, quarter, week-of-year, day-of-year, week-of-month, 
    and day-of-week from a given date.

    Parameters:
    date_entry (str or datetime): A date entry in string format (YYYY-MM-DD) or a datetime object.

    Returns:
    dict: A dictionary with extracted date features.
    """
    # Convert the input to a datetime object if it's a string
    if isinstance(date_entry, str):
        date_entry = pd.to_datetime(date_entry)
    
    # Calculate the week of the month
    first_day_of_month = date_entry.replace(day=1)
    week_of_month = math.ceil((date_entry.day + first_day_of_month.weekday()) / 7)

    # Extract features
    features = {
        "year": date_entry.year,
        "Month": date_entry.month,
        "Quarter": (date_entry.month - 1) // 3 + 1,
        "Week-of-year": date_entry.isocalendar()[1],
        "Day-of-year": date_entry.timetuple().tm_yday,
        "Week-of-month": week_of_month,
        "Day-of-week": date_entry.weekday(),  # 0=Monday, 6=Sunday
    }

    return features

# Example usage
date = "2016-10-11"
features = extract_date_features(date)
print(features)

{'year': 2016, 'Month': 10, 'Quarter': 4, 'Week-of-year': 41, 'Day-of-year': 285, 'Week-of-month': 3, 'Day-of-week': 1}

In [62]:
import pandas as pd
input_data = pd.DataFrame([features])

In [64]:
input_data

   year  Month  Quarter  Week-of-year  Day-of-year  Week-of-month  Day-of-week
0  2016     10        4            41          285              3            1

In [66]:
input_data['Interest-rate'] = float(input("Interest rate"))

Interest rate 0.69

In [68]:
input_data['election-year'] = int(input("Election year"))

Election year 0

In [70]:
input_data['US_election'] = int(input("US Election"))

US Election 0

In [72]:
input_data['kenya_reserves'] = 10441.5

In [74]:
input_data.shape

(1, 11)

In [76]:
input_data = input_data[["Interest-rate","Month","Quarter","Week-of-year","Week-of-month","Day-of-week","Day-of-year", "election-year", "kenya_reserves", "US_election"]]

In [78]:
input_data

,Interest-rate,Month,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,US_election
0,0.69,10,4,41,3,1,285,0,10441.5,0

In [80]:
import joblib
model = joblib.load("KNeighbors.pkl")

In [82]:
pred = model.predict(input_data)

In [84]:
pred

array([101.296])