In [2]:
import pandas as pd
import math

def extract_date_features(date_entry):
    """
    Extracts year, month, quarter, week-of-year, day-of-year, week-of-month, 
    and day-of-week from a given date.

    Parameters:
    date_entry (str or datetime): A date entry in string format (YYYY-MM-DD) or a datetime object.

    Returns:
    dict: A dictionary with extracted date features.
    """
    # Convert the input to a datetime object if it's a string
    if isinstance(date_entry, str):
        date_entry = pd.to_datetime(date_entry)
    
    # Calculate the week of the month
    first_day_of_month = date_entry.replace(day=1)
    week_of_month = math.ceil((date_entry.day + first_day_of_month.weekday()) / 7)

    # Extract features
    features = {
        "year": date_entry.year,
        "Month": date_entry.month,
        "Quarter": (date_entry.month - 1) // 3 + 1,
        "Week-of-year": date_entry.isocalendar()[1],
        "Day-of-year": date_entry.timetuple().tm_yday,
        "Week-of-month": week_of_month,
        "Day-of-week": date_entry.weekday(),  # 0=Monday, 6=Sunday
    }

    return features

# Example usage
date = "2025-03-15"
features = extract_date_features(date)
print(features)

{'year': 2025, 'Month': 3, 'Quarter': 1, 'Week-of-year': 11, 'Day-of-year': 74, 'Week-of-month': 3, 'Day-of-week': 5}

In [3]:
import pandas as pd
input_data = pd.DataFrame([features])

In [4]:
input_data

   year  Month  Quarter  Week-of-year  Day-of-year  Week-of-month  Day-of-week
0  2025      3        1            11           74              3            5

In [5]:
input_data['Interest-rate'] = float(input("Interest rate"))

Interest rate 4.15

In [6]:

input_data['election-year'] = int(input("Election year"))

Election year 0

In [7]:
input_data['US_election'] = int(input("US Election"))

US Election 0

In [8]:
input_data['kenya_reserves'] = 9142

In [9]:
input_data.shape

(1, 11)

In [10]:
input_data = input_data[["Interest-rate","Month","Quarter","Week-of-year","Week-of-month","Day-of-week","Day-of-year", "election-year", "kenya_reserves", "US_election"]]

In [11]:
input_data

,Interest-rate,Month,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,US_election
0,4.15,3,1,11,3,5,74,0,9142,0

In [12]:
import joblib
#kn_model = joblib.load("KNeighbors.pkl")
rf_model = joblib.load("randomforest.pkl")

In [13]:
#kn_pred = kn_model.predict(input_data)
rf_pred = rf_model.predict(input_data)

In [14]:
#print(f"KNeighbors: {kn_pred}")
print(f"RandomForest: {rf_pred}")

RandomForest: [128.90218325]