In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [37]:
data = pd.read_csv("data.csv")

In [45]:
data.tail(20)

,Date,Mean-value,Interest-rate,Month,Year,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves
2024,12/24/2024,128.307500,4.24,12,2024,4,52,4,2,359,0,NaN
2025,12/25/2024,128.130000,NaN,12,2024,4,52,4,3,360,0,NaN
2026,12/26/2024,128.040000,4.23,12,2024,4,52,4,4,361,0,NaN
2027,12/27/2024,128.147500,4.20,12,2024,4,52,4,5,362,0,NaN
2028,12/30/2024,128.280450,4.17,12,2024,4,53,5,1,365,0,NaN
2029,12/31/2024,128.260000,4.16,12,2024,4,53,5,2,366,0,NaN
2030,1/2/2025,128.227500,4.17,1,2025,1,1,1,4,2,0,NaN
2031,1/3/2025,128.346175,4.18,1,2025,1,1,1,5,3,0,NaN
2032,1/6/2025,127.892250,4.17,1,2025,1,2,2,1,6,0,NaN
2033,1/7/2025,128.417350,4.19,1,2025,1,2,2,2,7,0,NaN
2034,1/8/2025,128.515000,4.19,1,2025,1,2,2,3,8,0,NaN
2035,1/9/2025,128.485175,4.16,1,2025,1,2,2,4,9,0,NaN
2036,1/10/2025,128.494500,4.25,1,2025,1,2,2,5,10,0,NaN
2037,1/13/2025,128.755650,4.24,1,2025,1,3,3,1,13,0,NaN
2038,1/14/2025,128.427450,4.22,1,2025,1,3,3,2,14,0,NaN
2039,1/15/2025,128.292175,4.19,1,2025,1,3,3,3,15,0,NaN
2040,1/16/2025,128.584425,4.18,1,2025,1,3,3,4,16,0,NaN
2041,1/17/2025,128.500950,4.21,1,2025,1,3,3,5,17,0,NaN
2042,1/20/2025,128.353675,NaN,1,2025,1,4,4,1,20,0,NaN
2043,1/21/2025,128.174825,4.21,1,2025,1,4,4,2,21,0,NaN

In [4]:
df = pd.read_csv("data2.csv")

In [6]:
#adding the US year of election

df["US_election"] = np.where(df["Year"].isin([2024, 2020, 2016]), 1, 0)

In [47]:
df.tail(3)

,Mean-value,Interest-rate,Month,Year,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,US_election
1919,128.0375,4.29,10,2024,4,44,5,2,303,0,16023.8,1
1920,127.6625,4.28,10,2024,4,44,5,3,304,0,16023.8,1
1921,127.9400,4.27,10,2024,4,44,5,4,305,0,16023.8,1

In [10]:
X = df.drop(columns = ["Mean-value", "Year"], axis=1)
y = df["Mean-value"]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

In [14]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1441, 10), (481, 10), (1441,), (481,))

In [16]:
X_train.head(2)

,Interest-rate,Month,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,US_election
810,0.15,4,2,14,1,5,94,0,12285.7,1
1634,5.37,8,3,35,5,4,243,0,13676.1,0

In [18]:
#Algorithms
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor

In [19]:
import os
os.environ["LGBM_VERBOSITY"] = "-1"
algorithms = {
    "Random Forest" : RandomForestRegressor(),
    "KNeighbors" : KNeighborsRegressor(),
    "XGBoost" : XGBRegressor(),
    "Gradient Boost Regressor" : GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3),
    "lightgbm" : LGBMRegressor(n_estimators=100, learning_rate=0.1, max_depth=5, verbose = -1)    
}

In [22]:
for title, algorithm in algorithms.items():
    algorithm.fit(X_train, y_train)
    print(f"{title}: {round(algorithm.score(X_test, y_test)*100,2)}%")

Random Forest: 99.22%
KNeighbors: 99.83%
XGBoost: 99.29%
Gradient Boost Regressor: 99.28%
lightgbm: 99.69%

In [29]:
knb = KNeighborsRegressor()

model_knb = knb.fit(X_train, y_train)

print(model_knb.score(X_test, y_test))

0.9982749175581642

#### Model Save

In [35]:
import joblib
import os
# Save the best model to a file
joblib.dump(model_knb, "KNeighbors.pkl")

['KNeighbors.pkl']