In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

In [10]:
data = pd.read_csv("Interest_rate_&_FX_reserves.csv")

In [11]:
data.head(3)

,Date,Mean-value,Interest-rate,Month,Year,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,Import-Cover-in-Months
0,10/11/2016,101.28,0.69,10,2016,4,42,3,2,285,0,NaN,NaN
1,10/13/2016,101.30,0.66,10,2016,4,42,3,4,287,0,NaN,NaN
2,10/13/2016,101.30,0.66,10,2016,4,42,3,4,287,0,NaN,NaN

In [12]:
#adding the US year of election

data["US_election"] = np.where(data["Year"].isin([2024, 2020, 2016]), 1, 0)

In [13]:
data.tail(3)

,Date,Mean-value,Interest-rate,Month,Year,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,Import-Cover-in-Months,US_election
2070,1/17/2025,128.500950,4.21,1,2025,1,3,3,5,17,0,9143.0,4.7,0
2071,1/20/2025,128.353675,NaN,1,2025,1,4,4,1,20,0,9143.0,4.7,0
2072,1/21/2025,128.174825,4.21,1,2025,1,4,4,2,21,0,9143.0,4.7,0

##### Missing Values

In [14]:
df = data.dropna()

In [15]:
df.shape

(1987, 14)

In [16]:
X = df.drop(columns = ["Date","Mean-value", "Year","Import-Cover-in-Months"], axis=1)
y = df["Mean-value"]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

In [18]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((1490, 10), (497, 10), (1490,), (497,))

In [19]:
X_train.head(2)

,Interest-rate,Month,Quarter,Week-of-year,Week-of-month,Day-of-week,Day-of-year,election-year,kenya_reserves,US_election
751,1.59,10,4,43,4,4,297,0,8925.0,0
193,1.22,7,3,29,4,4,201,1,7869.0,0

In [20]:
#Algorithms
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import GradientBoostingRegressor
from lightgbm import LGBMRegressor

In [21]:
import os
os.environ["LGBM_VERBOSITY"] = "-1"
algorithms = {
    "Random Forest" : RandomForestRegressor(),
    "KNeighbors" : KNeighborsRegressor(),
    "XGBoost" : XGBRegressor(),
    "Gradient Boost Regressor" : GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, max_depth=3),
    "lightgbm" : LGBMRegressor(n_estimators=100, learning_rate=0.1, max_depth=5, verbose = -1)    
}

In [22]:
for title, algorithm in algorithms.items():
    algorithm.fit(X_train, y_train)
    print(f"{title}: {round(algorithm.score(X_test, y_test)*100,2)}%")

Random Forest: 99.7%
KNeighbors: 89.36%
XGBoost: 99.76%
Gradient Boost Regressor: 98.64%
lightgbm: 99.25%

##### 1.1 KNeighborsRegressor

In [16]:
knb = KNeighborsRegressor()

model_knb = knb.fit(X_train, y_train)

print(model_knb.score(X_test, y_test))

0.8935748782790709

##### 2.1 RandomForest Regressor

In [23]:
rf = RandomForestRegressor()

model_rf = rf.fit(X_train, y_train)

print(model_rf.score(X_test, y_test))

0.9972594546924234

#### Model Save

##### 1.2 Kneighbors

In [35]:
import joblib
import os
# Save the best model to a file
joblib.dump(model_knb, "KNeighbors.pkl")

['KNeighbors.pkl']

##### 2.2 RandomForest Regressor Model

In [24]:
import joblib
import os
# Save the best model to a file
joblib.dump(model_rf, "randomforest.pkl")

['randomforest.pkl']